<!-- Angular Events -->
<!-- click events -->
<!-- <button (click) = "getName()">Click Me</button>
<button (click) = "findName('Iqbal')">found name</button>
<br />
<br /> -->

<!--input events -->
<!--
    * keyup
    * keydown
    * blur
    * input
-->
<!-- <input type="text" #box placeholder="event keyup" (keyup)="getData(box.value)" />
<br />
<br />
<input type="text" #box1 placeholder="event keydown" (keydown)="getData(box1.value)" />
<br />
<br />
<input type="text" #box2 placeholder="event keyblur" (blur)="getData(box2.value)" />
<br>
<br>
<input type="text" #box3 placeholder="event input" (input)="getData(box3.value)" /> -->

<input type="text" name="text" placeholder="type here something..." #box (keyup)="getData(box.value)">
<p> display here whatever you type: {{ displayValue }} </p>


<input type="text" name="textbox" placeholder="type here" #box1 >
<button (click)="getAnotherData(box1.value)">Click Here</button>
<p>display here whatever you type and then click the button: {{ anotherDisplayValue }}</p>

<br>
<button (click) = "counter('add')"> ++ </button>
<span><p> {{ count }} </p></span>
<button  (click) = "counter('sub')"> -- </button>
