<!-- Angular Events -->
<!-- click events -->
<!-- <button (click) = "getName()">Click Me</button>
<button (click) = "findName('Iqbal')">found name</button>
<br />
<br /> -->

<!--input events -->
<!--
    * keyup
    * keydown
    * blur
    * input
-->
<!-- <input type="text" #box placeholder="event keyup" (keyup)="getData(box.value)" />
<br />
<br />
<input type="text" #box1 placeholder="event keydown" (keydown)="getData(box1.value)" />
<br />
<br />
<input type="text" #box2 placeholder="event keyblur" (blur)="getData(box2.value)" />
<br>
<br>
<input type="text" #box3 placeholder="event input" (input)="getData(box3.value)" /> -->

<!-- <input type="text" name="text" placeholder="type here something..." #box (keyup)="getData(box.value)">
<p> display here whatever you type: {{ displayValue }} </p>


<input type="text" name="textbox" placeholder="type here" #box1 >
<button (click)="getAnotherData(box1.value)">Click Here</button>
<p>display here whatever you type and then click the button: {{ anotherDisplayValue }}</p>

<br>
<button (click) = "counter('add')"> ++ </button>
<span><p> {{ count }} </p></span>
<button  (click) = "counter('sub')"> -- </button> -->

<!-- <input type="text" name="username" value={{name}} disabled={{disable}} />
<br>
<br>
<input type="text" name="username" [value]=name [disabled]=disable /> -->

<!-- <h1 *ngIf="show; then ifblock else elseblock"></h1>

<ng-template #ifblock>
  <h1>If Statement</h1>
</ng-template>
<ng-template #elseblock>
  <h1>Else Statement</h1>
</ng-template> -->

<!-- <h1 *ngFor = "let user of users"> {{ user }} </h1> -->


<!-- <app-header></app-header> -->
<!-- <app-top-header></app-top-header> -->

<!-- <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <br>
  <input type="text" name="user" placeholder="Enter Your Name" ngModel /> <br> <br>
  <input type="email" name="email" placeholder="Enter Your Email" ngModel /> <br> <br>
  <input type="password" name="password" placeholder="Enter Your Password" ngModel /> <br> <br>
  <input type="submit" value="Submit">
</form>
<br>
<div>
  <p> username:  {{ userData.user }} </p>
  <p> user email:  {{ userData.email }} </p>
  <p> user password: {{ userData.password }} </p>
</div>

<div>
  <h4>Toggle Items</h4>
  <p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, accusantium beatae iste excepturi impedit vel atque molestiae blanditiis dolores, sint culpa voluptatum. Ipsa libero laudantium necessitatibus placeat recusandae obcaecati quam repudiandae distinctio in? At a optio nisi excepturi quaerat illum! Inventore ex sed molestiae aperiam quas? Doloremque officiis, ea itaque perspiciatis cum amet error placeat ducimus, numquam optio quos eum ut. <span *ngIf="show">Nihil nobis maiores iusto illum animi dolorem in ab iure qui fuga velit, numquam, quos voluptates accusamus vitae excepturi ipsam reprehenderit adipisci ipsa! Eius vero beatae esse? Cum adipisci voluptatem sed sit rerum recusandae quaerat iure facilis repellendus impedit.</span><button (click)="toggleElement()">See More...</button></p>
  <br>

</div> -->


<!-- to do list -->
<!-- <br>
<input type="text" placeholder="Enter Task" name="task" #task> <br> <br>
<input type="submit" value="submit" (click) = "getTask(task.value)">

<ul *ngFor="let item of tasklist">
  <li>{{ item.name }}</li>
</ul> -->



<!-- lets develop a to do list application with angular and bootstrap -->

<!-- <section>
  <div class="container">
    <div class="row mt-5">
      <h2 class="text-center"> TO DO List Application </h2>
      <div class="col-md-6 px-5">
        <input type="text" placeholder="Assign Task" #task class="form-control mt-4 mb-3" />
        <button class="btn btn-success" (click)="addTask(task.value)">
          Add Task
        </button>
      </div>
      <div class="col-md-6 px-5 mt-4">
        <h4>List Of Tasks</h4>
        <div *ngFor="let item of tasklist">
          <ul class="d-flex  align-items-center">
            <li>{{ item.name }} </li>
            <button class="btn btn-danger mx-3" (click) = "deleteTask(item.id)">Delete</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->

<app-header [item]="currentItem" (newItemEvent)="addItem($event)"></app-header>
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>
